<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
  </div>

  <!--% if devise_mapping.rememberable? -%>
  <!00% end -% -->

  <div class="actions">
    <%= f.submit "Sign in", class: 'sign-in noselect' %>
    <div class="remember">
      <%= f.check_box :remember_created_at %>
      <%= f.label :remember_me %>
    </div>
  </div>
<% end %>

<a href="/users/password/new" class="forgot-password">Forgot your password?</a>
